@font-face {
    font-family: 'haleemah';
    src: url(./GD-Boing-Bold.ttf);
 }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    width: 101px;
}
.nav-bar a{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    text-decoration: none;
    color: black;
}
.why-paystack img{
    width: 8px;
    /* padding-top: 3px; */
}
.why-paystack{
    display: flex;
    align-items: center;
    gap: 3px;
}
.pay{
   text-decoration: none;
   /* color: black; */
   font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 14px;
   line-height: 19.5px;
}
.learn img{
    width: 8px;
    /* padding-top: 3px; */
}
.learn{
    display: flex;
    align-items: center;
    gap: 3px;
}
.div-bar{
    display: flex;
    align-items: center;
    gap: 13px;
}
.the-developers img{
    width: 8px;
    /* padding-top: 3px; */
}
.the-support img{
    width: 8px;
    /* padding-top: 3px; */
}
.the-developers{
    display: flex;
    align-items: center;
    gap: 3px;
}
.the-support{
    display: flex;
    align-items: center;
    gap: 3px;
}
.button{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    width: 148px;
    height: 33px;
    /* line-height: 40px; */
    background-color: #3bb75e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    /* padding: 8px 8px; */
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}
.flag{
    width: 12px;
}
.developers{
    display: flex;
    align-items: center;
    gap: 13px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 53px 12px 48px;
    background-color: #eaf6fc;
    font-weight: 500;
    gap: 501px;
    color: #011b33;
    z-index: 99;
    position: sticky;
    top: 0px;
}
.blog-image img{
    width: 50px;
 }
 .blog-text h4{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
 }
 .blog-text p{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    width: 230px;
 }
 .blog-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
 }
 .flex-blog{
    display: flex;
    align-items: center;
    gap: 20px;
 }
 .blog-div{
    color: #011b33;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 250px; */
    padding: 30px 20px 70px 25px;
 }
 .growth p{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 10px;
    color: rgba(75, 73, 73, 0.806);
 }
 .growth ul{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 500px;
    color: #011b33;
 }
 .li li{
    list-style: none;
 }
 .li{
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .growth{
    display: flex;
    flex-direction: column;
    gap: 14px;
 }
 .growth-div{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 200px;
    padding: 30px 35px 25px 35px;
    background-color: #f9fbfc;
    height: 350px;
 }
 .company-div p{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 10px;
    color: rgba(75, 73, 73, 0.806);
 }
 .company-div ul{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 500px;
    color: #011b33;
 }
 .lii{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
 }
 .company-div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 150px;
    padding: 30px 35px 25px 35px;
    background-color: #f9fbfc;
    height: 420px;
 }
 .the-blog{
    background-color: white;
    position: absolute;
    top: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    display: none;
 
 }
 .guide{
    color: #011b33;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 250px; */
    padding: 30px 20px 40px 25px;
 }
 .guide-div{
    background-color: white;
    position: absolute;
    top: 30px;
    display: flex;
    /* align-items: center; */
    border-radius: 10px;
    display: none;
 }
 .drops p{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 19.5px;
    font-weight: 600;
    color: black;
 }
 .drop p{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     font-size: 14px;
     line-height: 19.5px;
     font-weight: 600;
     color: black;
 }
 .drops{
    background-color: white;
    position: absolute;
    z-index: 999;
    top: 20px;
    width: 130px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 18px;
    display: none;
 }
 .drop{
    background-color: white;
    position: absolute;
    /* left: 110px; */
    top: 20px;
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 18px;
    display: none;
 }
 .flags img{
    width: 15px;
 }
 .flags p{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 19.5px;
    font-weight: 600;
    color: rgba(50, 49, 49, 0.735);
 }
 .flags{
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .drop-flags{
    background-color: white;
    position: absolute;
    right: 30px;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 150px;
    padding: 15px 18px 15px 20px;
    display: none;
 }
 .the-flags{
    position: relative;
 }
 .why-paystack:hover .the-blog{
    display: flex;
 }
 .learn:hover .guide-div{
    display: flex;
 }
 .the-support:hover .drop{
    display: flex;
 }
 .the-developers:hover .drops{
    display: flex;
 }
 .the-flag:hover .drop-flags{
    display: flex;
 }

.hero h1{
    font-family: "haleemah";
    font-size: 40px;
    width: 600px;
    text-align: center;
}
.hero p{
    font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 19px;
    width: 620px;
    text-align: center;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
   
}
.hero-section{
   padding: 136px 0px 150px 0px;
   background-image: linear-gradient(#eaf6fcd2,#eaf6fceb) url(./images/curved-pattern.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-color: #eaf6fc;
}
.how{
   font-family: "haleemah";
   font-size: 38px;
   color: #011b33;
   width: 700px;
   padding: 150px 0px 0px 165px;
}
.direct-bank h2{
   font-family: "haleemah";
   font-size: 28px;
   color: rgba(203, 199, 199, 0.824);
}
.direct-bank h1{
   font-family: "haleemah";
   font-size: 36px;
   color: #011b33;
}
.direct-bank p{
   font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 19px;
   color: #011b33;
   width: 450px;
}
.direct-div img{
   width: 550px;
}
.direct-bank{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.direct-div{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 50px;
   padding: 100px 165px 0px 165px;
}
.image{
   width: 550px;
}
.intelligent-text h2{
   font-family: "haleemah";
   font-size: 28px;
   color: rgba(203, 199, 199, 0.824);
}
.intelligent-text h1{
   font-family: "haleemah";
   font-size: 36px;
   color: #011b33;
}
.intelligent-text p{
   font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 19px;
   color: #011b33;
   width: 450px;
}
.intelligent-text{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.intelligent-div{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 50px;
   padding: 150px 165px 165px 200px;
}
.text h2{
   font-family: "haleemah";
   font-size: 28px;
   color: rgba(203, 199, 199, 0.824);
}
.text h1{
   font-family: "haleemah";
   font-size: 36px;
   color: #011b33;
}
.smart-p p{
   font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 19px;
   color: #011b33;
   width: 480px;
}
.smart-p{
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.text{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.smart-text{
   display: flex;
   flex-direction: column;
   gap: 19px;
}
.smart-div img{
   width: 500px;
}
.smart-div{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 50px;
   padding: 0px 165px 200px 165px;
}
.try-text p{
   font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 18px;
 }
 .try-text h1{
   font-family: "haleemah";
   font-size: 35px;
   width: 500px;
 }
 .try button{
   font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 16px;
   width: 200px;
   height: 45px;
   font-weight: 500;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #3bb75e;
   color: white;
   border: none;
   border-radius: 5px;

 }
 .try-text{
   display: flex;
   flex-direction: column;
   gap: 17px;
 }
 .try{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 150px 165px 82px 165px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   background-image: linear-gradient(rgba(249, 251, 252, 0.811), rgba(243, 246, 249, 0.833)), url(./images/curved-pattern.png);
   background-position: 100% center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 400px;
 }
 .pay-text h3{
   font-family:  Graphik, -apple-system, BlinkMacSystemFont, 
   "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 16px;
 }
 .why-pay li{
   font-family:  Graphik, -apple-system, BlinkMacSystemFont, 
   "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 14px;
   list-style: none;
 }
 .why-pay{
   display: flex;
   flex-direction: column;
   gap: 15px;
 }
 .pay-text{
   display: flex;
   flex-direction: column;
   gap: 10px;
 }
 .li{
   display: flex;
   flex-direction: column;
   gap: 5px;
 }
 .footer{
   display: flex;
   justify-content: space-between;
   gap: 16px;
   padding: 68px 186px;
 }
 .line{
   margin: 0 200px;
   height: 1px;
   color: white;
   background-color: rgb(248, 243, 243);
 }
 .mail{
   color:  #0ba4db;
   text-decoration: none;
   font-size: 13px;
 }
 .tel{
   font-size: 14px;
   text-decoration: none;
   color: #0ba4db;
 }
 .social{
   display: flex;
   gap: 12px;
 }
 .social img{
   width: 18px;
 }
 .st{
   width: 60px;
   color: #0ba4db;
 }
 .pp{
   color: #576f7f;
   font-size: 10px;
 }
 .contact-sections h3{
   font-family: Graphik, -apple-system, BlinkMacSystemFont, 
   "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 16px;
   color: #011b33;
 }
 .contact-sections p{
   font-family:  Graphik, -apple-system, BlinkMacSystemFont, 
   "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 15px;

 }
 .contact-section h3{
   font-family:  Graphik, -apple-system, BlinkMacSystemFont, 
   "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 16px;
   color: #011b33;
 }
 .contact-section p{
   font-family:  Graphik, -apple-system, BlinkMacSystemFont, 
   "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 15px;
 }
 .contact-sections{
   display: flex;
   flex-direction: column;
   gap: 10px;
 }
.section-contact{
   display: flex;
   justify-content: space-between;
   gap:16px;
   padding: 48px 186px 40px 186px;
}
.container{
   display: flex;
   gap: 110px;
   padding-left: 500px;
   padding-bottom: 100px;
}

